/* _________________________________________________

For: Haerillo
Original Author: Haeri Lee
URL: 
____________________________________________________

`GLOSSARY`:

  NORMALIZE (instead of reset)

  ROOT
  TYPOGRAPHY
  BASE STYLES
    -LINKS
    -FIGURES & IMAGES
    -TABLES
    -FORMS
  STRUCTURE
    -HEADER
    -FOOTER
    -MAIN STRUCTURE
  GENERAL CONTENT
  ...
  MEDIA QUERIES
  UTILITY CLASSES
  PRINT QUERIES

`COLOURS`:
  colorname : #value ;

____________________________________________________ */


/*  `ROOT`
------------------------------------------------------------------*/

html {

}
body {
  margin: 0;
  background-color: #fbf4ea;
  
}


/*  `TYPOGRAPHY` (Base)
------------------------------------------------------------------*/
/* 폰트 */
/* 로고폰트 */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.logo {
  font-family: 'Bebas Neue', cursive;
}

html {
  /* 나머지 폰트는 rem 단위 */
  font-size: 15px;
}
body {
  color: rgb(37, 12, 2);
}
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  /* shared typographic styles */
  margin: 0;
}
h1 { 
  font-size: 3rem;
}
h2 { 
  font-size: 2rem;
}
h3 { 
  font-size: 1.8rem;
}
h4 { 
  font-size: 1.2rem;
}
h5 { 
  font-size: 0.8rem;
}
h6 { 
  font-size: 0.5rem;
}
a {
  text-decoration: none;
  color: inherit;
}

/*  `BASE STYLES`
------------------------------------------------------------------*/

/*-- ~LINKS --*/

/*-- ~FIGURES & IMAGES --*/

/*-- ~TABLES --*/

/*-- ~FORMS --*/
textarea:focus{
  outline: none;
}

/*  `HEADER`
------------------------------------------------------------------*/

header{
  width: 100%;
  height: 80px;  
  /* background-color: #7d135a; */
}
.logo {
  float: left;
  margin: 17px 30px;
  font-size: 2.2rem;
}
nav {
  padding: 20px 0;
  height: 40px;
  float: right;
}
nav ul{
  list-style-type: none;
  padding: 0 20px;
  margin: 0;
}
nav ul li {
  display: inline-block;
  margin: 10px 10px;
}

nav ul li a {  
  /* color: white; */

	/* display: block; */
	/* padding: 20px 1vw;
  margin: 10px 0; */
}





/*  `FOOTER`
------------------------------------------------------------------*/


/*  `MAIN STRUCTURE`
------------------------------------------------------------------*/
.main-container {
  padding-top: 3vh;
  position: relative;
  height: 91vh;
  margin: 0 5vw;
}

/* 화면 중앙에 위치하는 컨테이너 ex)로그인창 */
.center-container {
  width: 500px;
  height: 300px;

  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#message {
  display: none;
  background-color: #dad3a8;
  width: 500px;
  height: 100px;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1;
  transition: all 1s;
  opacity: 0;
}

#message.visible {
  display: block;
  opacity: 1;
}


/*  `GENERAL CONTENT`
------------------------------------------------------------------*/
.pointer {
  cursor: pointer;
}
.dragging {
  opacity: .5;
}
/*  `SPECIFIC PAGE`
------------------------------------------------------------------*/
/* 홈페이지 index */

/* 로그인 login 페이지 */
.login {
  background-color: coral;
}
/* 회원가입 join 페이지 */
.join {
  background-color: green;
}
/* 보드 board 페이지 */
.board {
  background-color: #c5d2c8;
  min-height: 75vh;
  border-radius: 5px;
  padding: 0 10px;
}
.board-title {
  padding: 20px;
  text-align: center;
}
.list-container {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
.list {
  position: relative;
  overflow: hidden;
  background-color: #e1eae3;
  padding: 10px;
  margin: 10px;
  height: fit-content;
  border-radius: 5px;
  -webkit-box-shadow: 4px 4px 18px -5px rgba(0,0,0,0.21);
  -moz-box-shadow: 4px 4px 18px -5px rgba(0,0,0,0.21);
  box-shadow: 4px 4px 18px -5px rgba(0,0,0,0.21);
}
.list.inactive {
  background-color: #d2dcd4;
}
.list.inactive .text {
  color: #796a6a;
}
.list.text-container {
  height: 30px;
}
.card-container{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
.card {
  margin: 4px;
  background-color: white;
  border-radius: 2px;
}
.card.active {
  -webkit-box-shadow: 4px 4px 18px -5px rgba(0,0,0,0.21);
  -moz-box-shadow: 4px 4px 18px -5px rgba(0,0,0,0.21);
  box-shadow: 4px 4px 18px -5px rgba(0,0,0,0.21);
}
.card.active:hover {
  background-color: #f6faf7;
}
.card.inactive {
  background-color: #eef7f0;
}
.card.inactive .text {
  color: #796a6a;
}
.text-container {  
  padding: 8px 6px;
  text-align: justify;
  word-break: keep-all;
  word-wrap: break-word;
}
.list-title {
  min-height: 2.2rem;
}
.card-content {
  min-height: 1.8rem;
}
.input-container {
  width: 80%;
}
.text-container input {
  width: 98%;
  height: 35px;
}
.text-container textarea {
  width: 98%;
  height: auto;
  margin-bottom: 4px;
  max-height: 162px;
  min-height: 54px;
}
.ok-btn-container {
  text-align: right;
}
.cancel-btn {
  cursor: pointer;
}
.list .ok-btn {
  display: inline-block;
  padding: 5px 3%;
  border: 1px solid #c6d0c5;
  border-radius: 3px;
  cursor: pointer;
}
.card .ok-btn {
  display: inline-block;
  padding: 6px 20px;
  border: 1px solid #c6d0c5;
  border-radius: 3px;
  cursor: pointer;
}
.ok-btn:hover {
  color: black;
  background-color: #d3adade3;
}
.delete-btn {
  display: none !important;
  position: absolute;
  right: 16px;
  margin: 0.4rem;
  background-color: #dfe4e0e3;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}
.fa-trash-alt {
  padding: 8px;
  font-size: 0.8rem;
}
/* 텍스트컨테이너 호버시 삭제버튼 */
.text-container:hover .delete-btn.hover, .card.active:hover .delete-btn.hover {
  display: block !important; 
}

/* for flexbox */
@supports(display: flex) {
  .list-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .list-container li {
    display: block;
    float: none;
  }
}

/* for grid */
@supports(display: grid) {
  .list-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(295px, 1fr));
  }
  
  .list-container li {
    width: auto;
  }
}

/*  `UTILITY STYLES`
------------------------------------------------------------------*/